{%extends 'index.html'%}
{%block body_block%}

<table class="table table-hover table-bordered " style="width:600px;margin-left:auto;margin-right:auto">
  <thead>
    <tr>

      <th scope="col">ID No:</th>
      <th scope="col">{{emp.id}}</th>
        <th scope="col">Department:</th>
      <th scope="col">{{emp.department}}</th>
        <td rowspan="2">{%if emp.image%}<img src="{{emp.image.url}}" style="width:200px">{%else%}<img src="/static/img/def.jpg" style="width:200px;height:100px">{%endif%}</td>


    </tr>
  </thead>
  <tbody>
    <tr>

      <td>First Name:</td>
      <td>{{emp.first_name}}</td>
         <td>Last Name:</td>
      <td>{{emp.last_name}}</td>

    </tr>
    <tr>

      <td>Gender:</td>
      <td>{{emp.gender}}</td>
      <td>Date of Joining:</td>
      <td>{{emp.doj}}</td>
    </tr>
    <tr>

      <td>Email:</td>
      <td>{{emp.email}}</td>
      <td>Mobile:</td>
      <td>{{emp.phone}}</td>
      <td rowspan="2"> <a href="{%url 'profileedit' emp.id%}"><button type="button" class="btn btn-warning">Update</button></a>
       <button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
   <tr>

      <td>Address:</td>
      <td>{{emp.address}}</td>
      <td>Date Of Birth:</td>
      <td>{{emp.dob}}</td>


    </tr>
  </tbody>
</table>

{%endblock%}