{%extends 'index.html'%}
{%block body_block%}
{%load crispy_forms_tags %}
<a href="{%url 'list'%}" class="btn btn-info" style="height:35px">&laquo; </a>
<div class="card" style="width:450px;margin-left:330px">
    <h5 class="card-header" style="background-color:#229af0;color:white;font-weight:bold;"><center>UPDATE</center></h5>
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
        <table>
            {{ form|crispy }}
        </table>

    <input type="submit" value="Update" class="btn btn-success" style="margin-left:130px;width:100px">

</form>
</div>
</div>

{%endblock%}

