{%extends 'index.html'%}
{%block body_block%}
<div class="container">
    <div class="row">

        {%for emp in employees%}

        <div class="col-12 col-md-6 col-lg-4">
            <a href="{%url 'profile' emp.id%}" style="text-decoration:none">
                <div class="card" style="width: 18rem;height:400px;margin-top:10px;background-color:#D9EEE1">
  {%if emp.image%}<img src="{{emp.image.url}}" class="card-img-top" alt="" style="height:150px; border-radius: 50%;display: block;margin-left: auto;margin-right: auto;width: 50%;margin-top:10px">
  {%else%}<img src="/static/img/def.jpg" style="height:150px; border-radius: 50%;display: block;margin-left: auto;margin-right: auto;width: 50%;margin-top:10px">{%endif%}<div class="card-body">
   <center><h5 class="card-title" style="color:red;font-weight:bold">{{emp.first_name}} {{emp.last_name}}</h5></center>

  </div>
                <hr>
                <center>
  <ul class="list-group list-group-flush " >
    <li class="list-group-item bg-info" style="color:blue;font-weight:bold"> ID:{{emp.id}}</li>
    <li class="list-group-item" style="color:blue;font-weight:bold">DEPARTMENT:{{emp.department}}</li>
  </ul>
                    </center>
  <div class="card-body">
    <!--<a href="{%url 'profile' emp.id%}" class="btn btn-warning" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">Profile</a>-->

  </div></a></div></div>
    {%endfor%}
</div>
        </div>

{%endblock%}