/*.form-control {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
#id_address{
 border-radius: 1rem;

}*/
.form-control{

width:200px;

}

#div_id_last_name{
position:absolute;
left:250px;
top:69px;
}



#id_email{
width:100%
}

#div_id_gender{
position:absolute;
left:250px;
top:240px;

}



#div_id_image{
position:absolute;
left:250px;
top:330px;

}

#div_id_doj{
position:absolute;
left:250px;
top:410px;

}
#id_password2{
width:300px;

}
#id_password1{
width:300px;

}


#id_username{

width:300px;
}

#id_address{

width:100%;
height:100px;

}

#id_gender{
width:200px;

}

input[id=myInput] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[id=myInput]:focus {
  width: 100%;
}

